@font-face {
  font-family: "IAMAPLAYER";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #f7cc7a;
  }
  100% {
    background: #fbaf21;
  }
}
@keyframes color-change-2x {
  0% {
    background: #f7cc7a;
  }
  100% {
    background: #fbaf21;
  }
}
:root {
  font-family: "HakgyoansimWoojuR", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input,
button {
  border: none;
  font: inherit;
  color: inherit;
}

/* app */
#app {
  background-color: whitesmoke;
  width: 100%;
  max-width: 33rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: 80vh;
  padding-inline: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
}
.app__header {
  font-family: "IAMAPLAYER";
  font-size: 1.5rem;
  color: slateblue;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid slateblue;
  position: relative;
}
.header__icon {
  font-size: 2rem;
}
.today-day {
  flex: 1 1 auto;
  text-align: center;
}
.today-date {
  font-size: 1.3rem;
  opacity: 0.5;
  white-space: nowrap;
}
.tasks-count {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1rem;
}
.tasks-count em {
  font-weight: bold;
}
.list {
  padding-block: 2rem;
  padding-inline: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}
.list-item {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
}
.form__checkbox {
  flex-grow: 0;
  flex-shrink: 0;
  appearance: none;
  border: 1px solid slateblue;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transition: border-width 0.2s linear;
}
.form__checkbox-label {
  width: calc(100% - 3rem);
  color: slateblue;
  font-weight: bold;
  white-space: normal;
  word-break: break-all;
}
.form__checkbox:checked {
  border-width: 0.4rem;
}

.form__checkbox:checked + .form__checkbox-label {
  text-decoration: line-through solid rgba(255, 99, 71, 0.204) 0.4rem;
}
.remove-task-btn {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  appearance: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  background-color: transparent;
}
.remove-task-btn:is(:hover, :focus) {
  opacity: 0.5;
}
.app__footer {
  padding-block: 2rem;
  border-top: 1px solid slateblue;
}
.input-box {
  border: 1px solid slateblue;
  border-radius: 1.5rem;
  padding: 0.6rem 1.2rem;
  display: flex;
  gap: 1rem;
}
.input-task {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  flex-grow: 1;
}
.input-task:focus {
  outline: none;
}
.input-task::placeholder {
  font: inherit;
  color: slateblue;
}
.add-task-btn {
  appearance: none;
  border: none;
  font-size: 1.2rem;
  color: slateblue;
  font-weight: bold;
  scale: 1.5;
  transition: transform 0.2s linear;
}
.add-task-btn:hover {
  transform: rotate(90deg);
}
